[Desktop Entry]
Type=Application
Name=Dusky SDDM
Comment=Sleek translucent SDDM theme with vibrant blur
X-KDE-PluginInfo-Name=dusky_sddm
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=System/Administration
X-KDE-PluginInfo-License=MIT
